form .errors {
  color: red;
  font-size: 0.95em;
  height: 15px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.login-container, .sign-up-container {
  width: 300px;
  border: 1px solid rgb(192, 192, 192);
  box-shadow: 0 30px 40px rgba(0, 0, 0, .5);
  border-radius: 10px;
  padding: 20px;
}

.sign-up-container{
  height: 420px;
}

.session-form {
  display: flex;
  flex-direction: column;
}

.inputs-container {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
}

.session-form input {
  width: 250px;
  border: none;
  border-bottom: 3px solid #D6D6D6;
  padding: 10px 0;
  transition: border-bottom 0.2s;
  font-family: var(--font-apple-system);
  font-size: 14px;
}

.session-form input:focus {
  outline: none;
  border-bottom: 3px solid #4A42EF;
  transition: border-bottom 0.2s;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;
  width: 300px;
}

.sign-in-button{
  width: 300px;
}


.button-container > button {
  border: none;
  color: white;
  background-color: #4A42EF;
  cursor: pointer;
  padding: 10px;
  font-family: var(--font-apple-system);
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
}

.button-container > button:hover{
  background-color: #3a34b9;
}

.form-header {
  color: rgb(74, 58, 255);
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 40px;
}


.page-num{
  font-size: 12px;
  color: grey;
}

.span-padding{
  padding-top: 20px;
}

input[type="file"] {
  border: none;
}

.bio-input{
  max-height: 100px;
  min-height: 100px;
  min-width: 230px;
  max-width: 230px;
  resize: none;
  padding: 10px;
  padding-bottom: 0px;
  font-family: var(--font-apple-system);
}

.next-page-button-container{
  display: flex;
  align-items: right;
  justify-content: right;
  margin-right: 20px;
  width: 280px;
}


.next-page-button{
  cursor: pointer;
  background-color:rgb(74, 58, 255);
  margin-top: 15px;
  color: white;
  font-weight: bold;
  height: 40px;
  width: 80px;
  font-size: 16px;
  padding: 10px;
  border: none;
  text-align: center;
  border-radius: 4px;
}

.next-page-button:hover{
  background-color: #3a34b9;
}

.confirm{
  padding-top: 20px;
}

.upload{
  font-family: var(--font-apple-system);
}
