form .errors {
  color: red;
  font-size: 14px;
  height: 15px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.inputs-container input {
  background-color: black;
  color: white;
}

/* containers for both modals */
.login-container, .sign-up-container {
  width: 300px;
  padding: 20px;
}

.session-form {
  display: flex;
  flex-direction: column;
}

.inputs-container {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
}

.session-form input {
  width: 250px;
  border: none;
  border-bottom: 3px solid grey;
  padding: 10px 0;
  transition: border-bottom 0.2s;
  font-family: "Manrope", sans-serif, var(--font-apple-system);
  font-size: 14px;
}

.session-form input:focus {
  outline: none;
  border-bottom: 3px solid white;
  transition: border-bottom 0.2s;
}

.form-header {
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 40px;
}

.page-num {
  font-size: 12px;
  color: grey;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;
  width: 250px;
}

.button-container>button {
  border: none;
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 10px;
  font-family: "Manrope", sans-serif, var(--font-apple-system);
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid ;
  transition: all 0.4s;
}

.button-container>button:disabled, .button-container>button:disabled:hover, .next-page-button-container > .next-page-button:disabled {
  background-color: white;
  color: rgb(158, 157, 157);
  opacity: 0.4;
  cursor: not-allowed;
}

.button-container>button:hover {
  border: 1px solid black;
  color: black;
  background-color: white;
  transition: all 0.4s;
}

.signin-button-wrapper {
  display: flex;
  justify-content: center;
}

.sign-in-button{
  width: 250px;
  background-color: white;
}
.next-page-button-container {
  display: flex;
  align-items: right;
  justify-content: right;
  width: 250px;
  margin-top: 15px;
}

.next-page-button {
  cursor: pointer;
  color: white;
  background-color: black;
  /* color: black; */
  font-weight: bold;
  height: 38px;
  width: 80px;
  font-size: 16px;
  padding: 10px;
  border: none;
  text-align: center;
  border-radius: 4px;
  border: 1px solid white;
  transition: background-color 0.3s;
}

.next-page-button:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
  transition: background-color 0.3s;
}



.span-padding{
  padding-top: 20px;
}

input[type="file"] {
  border: none;
}

.bio-input{
  max-height: 100px;
  min-height: 100px;
  min-width: 230px;
  max-width: 230px;
  resize: none;
  padding: 10px;
  padding-bottom: 0px;
  font-family:"Manrope",
    sans-serif, var(--font-apple-system);
}

.bio-input:focus {
  outline-color:rgb(74, 58, 255);
}

.confirm{
  padding-top: 20px;
}

.upload{
  font-family: "Manrope",
    sans-serif, var(--font-apple-system);
}

.modal-close-button {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  font-size: xx-large;
  top: 5px;
  left: 15px;
  color: white;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(8, 9, 10, 0.8);
  z-index: 500;
  transition: background-color 200ms;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}