.searchbar {
  position: relative;
}

.search-results-div {
  width: 50%;
  position: absolute;
  top: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  z-index: 10;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.search-results-div > h1 {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 15px;
}

.search-results-ul {
  width: 100%;
}

.search-results-ul > li {
  padding: 10px 15px;
  cursor: pointer;
}

.search-results-ul > li:hover {
  background-color: rgb(214, 214, 214);
}

.searchbar input:disabled {
  cursor: not-allowed;
  background: none;
}

.result-item {
  display: flex;
  align-items: center;
}