.search-results-div {
  width: 100%;
}

.search-results-div > h1 {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 15px;
}

.search-results-ul {
  width: 100%;
}

.search-results-ul > li {
  padding: 10px 15px;
  cursor: pointer;
}

.search-results-ul > li:hover {
  background-color: rgb(214, 214, 214);
}