.small-map-component {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 50px;
    margin-top: 20px;
    width: 300px;
    height: 180px;
}

.small-map-container {
    height: 100%;
    width: 100%;
}