.small-map-component {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 40px;
    margin-top: 50px;
    width: 320px;
    height: 420px;
}

.small-map-container {
    height: 100%;
    width: 100%;
    border-radius: 6px;
}