.photo-show-image {
    object-fit: contain;
}

.show-photo-modal-close-button {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    font-size: xx-large;
    top: 5px;
    right: 15px;
    color: black;
}

.line {
    border-bottom: 2px black solid;
    width: calc(100%-5px);
    padding: 5px;
    overflow-x: hidden;
}

.left-side-show-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

.show-photo-fav {
    cursor: pointer;
}

.photo-show-username {
    margin-bottom: 10px;
    
}

.photo-show-description {
    width: 300px;
    display: flex;
    justify-content: center;
}

.login-favorite{
    cursor: pointer;
    text-decoration: underline;
}

.photo-show-spot {
    cursor: pointer;
    color: black;
}

.show-photo-heart {
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

.photo-show-elements {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}