.spot-show-page-container{
    margin: 80px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.upvoted-photos{
    display: flex;
}

.top-upvoted-photos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.most-upvoted-image{
    height: 400px;
    width: 600px;
    background-color: rgb(143, 250, 245);
    margin-right: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.top-upvoted-smaller-images{
    height: 190px;
    width: 305px;
    background-color: rgb(143, 250, 245);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.comments-and-info-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.comments-box{
    width: 65%;
    background-color: rgb(246, 160, 246);
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.spot-info-container{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    font-size: 40px;
    background-color: green;
    width: 30%;
    padding: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}