.location-photo-grid {
    width: 100%;
    display: grid;
    height: 609px;
    grid-template-columns: 280px 280px;
    grid-template-rows: 280px 280px;
    grid-column-gap: 70px;
    grid-row-gap: 40px;
    place-items: center;
    margin-left: 30px;
    margin-right: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

.location-show-main {
    margin-top: 60px;
}

.location-header {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}

.location-container {
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.location-show-map-container{
    width: 100%;
    height: 600px;
    margin: 0px 20px 600px 20px;
}

.location-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
    transition: filter 0.2s;
    position: relative;
}

.location-images:hover {
    filter: blur(4px);
    transition: filter 0.2s;
}

.no-photos-container {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

#active {
    display: block;
}

#hidden {
    display: none;
}

@media screen and (min-width: 1400px) {
    .location-photo-grid {
        grid-template-columns: 280px 280px 280px;
        grid-template-rows: 280px 280px;
        place-items: center;
    }
}

@media screen and (max-width: 1024px) {
    .location-photo-grid {
        grid-template-columns: 280px;
        grid-template-rows: 280px;
        place-items: center;
    }
}

@media screen and (max-width: 640px) {

    .location-container{
        display: flex;
        flex-direction: column;
    }
    .location-photo-grid {
        margin-top: 40px;
        grid-template-columns: 250px;
            grid-template-rows: 250px;
    }

    /* .location-container {
        grid-template-columns: 320px;
        grid-template-rows: 320px;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    } */

    .map-container {
        width: 100%;
        height: 300px;
        margin: 0px 20px ;
        border: 5px black solid;
    }
}
