.user-show-page-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.profile-pic{
    height: 100px;
    width: 100px;
    background-color: #bffafe;
    border-radius: 50%;
    padding: 30px;
    text-align: center;
    user-select: none;
    -webkit-user-drag: none;
}

.profile-title{
    font-size: 40px;
    margin-left: 50px;
    font-weight: bold;
}

.top-field{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-photo-grid{
    display: grid;
    grid-template-columns: repeat(3, 282.5px);
    grid-template-rows: repeat(4, 285px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
    /* place-items: center; */
}

.user-photo-container p {
    display: none;
    transition: all 1s;
}
.user-photo-container:hover p {
    display: block;
    transition: all 1s;
}

.user-photo-container {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.user-photo-container img {
    border-radius: 4px;
    cursor: pointer;
    transition: filter 0.2s;
}

.overlay-photo-text-user {
    cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    transition: all 0.2s;
}

.user-photo-container:hover img {
    filter: blur(4px);
    transition: filter 0.2s;
}

.margin-needed-photo{
    margin-top: 40px;
    margin-bottom: 40px;
    grid-column-gap: 80px !important;
    grid-row-gap: 80px !important;
}

.user-has-no-pics {
    margin-top: 15px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.no-pics-msg{
    font-size: 28px; 
    padding: 10px 0;
}


@media(max-width: 1000px){
        .user-photo-grid {
            grid-column-gap: 40px;
            grid-row-gap: 50px;
        }
}
@media(max-width: 900px) {
    .user-photo-grid {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}
@media(max-width: 820px) {

    .user-photo-grid {
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media(max-width: 650px) {

    .user-photo-grid {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
    }

    .user-image-grid-photo{
        height: 380px;
        width: 380px;
    }

    .top-field{
        flex-direction: column;
    }

    .margin-title{
        margin-left: 0px;
    }
}